<div class="card mx-auto">
    <form>
        <div class="login text-center" style=" padding: 5px; margin-bottom: 10px; ">
            <h5>Registro</h5>
        </div>
        <div class="entrada mb-3">
            <i class="fa-solid fa-user"></i>
            <input type="nombre" class="form-control" id="exampleInputNombre" aria-describedby="nombreHelp" placeholder="Nombre Completo">
        </div>
        <div class="entrada mb-3">
            <i class="fa fa-envelope" aria-hidden="true"></i>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Correo electrónico">
        </div>
        <div class="entrada mb-3">
            <i class="fa-solid fa-phone-flip"></i>
            <input type="telefono" class="form-control" id="exampleInputTelefono" aria-describedby="telefonoHelp" placeholder="Télefono/Celular">
        </div>
        <div class="entrada mb-3">
            <i class="fa-solid fa-key"></i>
            <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Contraseña">
        </div>
        <div class="entrada mb-3">
            <i class="fa-solid fa-arrow-rotate-right"></i>
            <input type="password" class="form-control" id="exampleInputPassword2" placeholder="Repetir contraseña">
        </div>
        <div>
            <button type="submit" class="btn btn-primary" style="width: 390px;">Registrate</button>
        </div>
        <div id="emailHelp" class="form-text text-center">
            <p>Al registrarse, aceptas nuestra Condiciones de Uso y Política de Privacidad.</p>
            <p>¿Ya tienes una cuenta? <a href="/login">Iniciar sesión</a></p>
        </div>
        
    </form>
</div>